absl-py==0.9.0
asgiref==3.2.9
asn1crypto==1.3.0
astor==0.7.1
attrs==20.3.0
brewer2mpl==1.4.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.2
conda-package-handling==1.6.0
conda==4.8.2
configparser==5.0.1
cryptography==2.8
cycler==0.10.0
decorator==4.4.2
django==3.0.7
docker-pycreds==0.4.0
future==0.18.2
gast==0.2.2
gitdb==4.0.5
gitpython==3.1.11
graphviz==0.14.2
grpcio==1.29.0
idna==2.8
image==1.5.32
imageio==2.9.0
importlib-metadata==2.0.0
imutils==0.5.3
ipython-genutils==0.2.0
joblib==0.17.0
jsonpatch==1.26
jsonpointer==2.0
jsonschema==3.2.0
jupyter-core==4.6.3
jupytext==1.6.0
keras-applications==1.0.7
keras-preprocessing==1.0.9
kiwisolver==1.2.0
markdown-it-py==0.5.6
markdown==3.1
matplotlib==3.2.1
mock==2.0.0
mpmath==1.1.0
natsort==7.0.1
nbformat==5.0.8
networkx==2.4
numpy==1.18.5
opencv-python==4.2.0.34
pandas==1.1.5
pbr==5.1.3
pillow==7.1.2
pip==20.0.2
promise==2.3
protobuf==3.14.0
psutil==5.8.0
pycosat==0.6.3
pycparser==2.19
pykalman==0.9.5
pyopenssl==19.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
pysocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
pywavelets==1.1.1
pyyaml==5.3.1
pyzmq==19.0.2
requests==2.22.0
ruamel-yaml==0.15.87
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.4.1
sentry-sdk==0.19.5
setuptools==45.2.0.post20200210
shortuuid==1.0.1
six==1.14.0
smmap==3.0.4
sqlparse==0.3.1
subprocess32==3.5.4
tensorboard==1.13.1
tensorflow-estimator==1.13.0
tensorflow==1.13.1
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile==2020.7.24
toml==0.10.2
torch==1.6.0
torchfile==0.1.0
torchvision==0.7.0
torchviz==0.0.1
tornado==6.0.4
tqdm==4.42.1
traitlets==5.0.5
urllib3==1.25.8
visdom==0.1.8.9
wandb==0.10.12
watchdog==1.0.2
websocket-client==0.57.0
werkzeug==1.0.1
wheel==0.34.2
zipp==3.4.0